<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="screen"
          th:href="@{/css/style.css}"/>
    <title>Title</title>
</head>
<body>
<div class="wrap">
    <form th:method="POST" action="/decoder" th:object="${encoded}">
        <p>
            <label for="encoded"> Enter decoded message: </label><br><br>
            <textarea name="encoded" id="encoded" cols="100" rows="10" maxlength="600"
                      placeholder="Max 600 symbols" th:text="${encoded}" ></textarea>
        </p>
        <p>
            <input type="submit" value="Decode"/>
        </p>
    </form>
    <label for="decoded">Output:</label><br><br>
    <textarea name="decoded" id="decoded" cols="100" rows="10" th:text="${decoded}"
              readonly></textarea>
</div>
</body>
</html>